@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: center;
    font-family: 'Caveat', cursive;
    font-size: 3em;
    background: rgb(216, 233, 235);
}